packages: surveyor-core
          surveyor-brick
          deps/llvm-pretty
          deps/llvm-pretty-bc-parser
          deps/elf-edit
          deps/dwarf
          deps/parameterized-utils
          deps/crucible/what4
          deps/crucible/crucible
          deps/crucible/crucible-llvm
          deps/dismantle/dismantle-tablegen
          deps/dismantle/dismantle-ppc
          deps/dismantle/dismantle-arm
          deps/dismantle/dismantle-thumb
          deps/semmc/semmc
          deps/semmc/semmc-ppc
          deps/semmc/semmc-arm
          deps/flexdis86
          deps/flexdis86/binary-symbols
          deps/macaw/base
          deps/macaw/symbolic
          deps/macaw/x86
          deps/macaw/x86_symbolic
          deps/macaw/macaw-semmc
          deps/macaw/macaw-ppc
          deps/macaw/macaw-ppc-symbolic
          deps/macaw-loader/macaw-loader
          deps/macaw-loader/macaw-loader-ppc
          deps/macaw-loader/macaw-loader-x86
          deps/renovate/renovate
          deps/renovate/renovate-x86
          deps/renovate/renovate-ppc
          deps/jvm-parser
