packages: surveyor-core
          surveyor-brick
          deps/elf-edit
          deps/dwarf
          deps/parameterized-utils
          deps/crucible/galois-matlab
          deps/crucible/crucible
          deps/dismantle/dismantle-tablegen
          deps/dismantle/dismantle-ppc
          deps/semmc/semmc
          deps/semmc/semmc-ppc
          deps/flexdis86
          deps/macaw/base
          deps/macaw/x86
          deps/macaw-semmc/macaw-semmc
          deps/macaw-semmc/macaw-ppc
          deps/renovate/renovate
          deps/renovate/renovate-x86
          deps/renovate/renovate-ppc
          deps/jvm-parser